<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Dev-local" value="http://rwes-artifactory01.internal.imsglobal.com/artifactory/api/nuget/nuget-dev-local" />
    <add key="Deploy Local" value="http://rwes-artifactory01.internal.imsglobal.com/artifactory/api/nuget/nuget-deploy-local/" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
